@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --color-success: #8ab68c;
    --color-danger: #9B1C31;

    
    --primary-100:#D35459;
    --primary-200:#ff8586;
    --primary-300:#ffebe8;
    --accent-100:#2C3E50;
    --accent-200:#b4c7dd;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1A1A1A;
    --bg-200:#292929;
    --bg-300:#404040;
    --success-100: var(--color-success);
    --error-100: var(--color-danger);
    
    --color-primary: var(--primary-100);
    
    // OBSOLETE
    --color-background-dark: #242635;    
    --color-foreground-dark: #323548;
    --color-border-dark: #565857;
  
    --color-grey-light-1: #bec5ce;
    --color-grey-light-2: var(--color-primary-dark-2);

    --color-font-light: #cdd6df;
    --color-font-gray: #252535;
    --color-font-dark: #252535;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);


    --input-border: var(--color-grey-dark-1);
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

// OBSOLETE
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--color-font-light);
}

hr {
    color: var(--color-border-dark);
}

.font-l {
    color: var(--color-font-light);
}

.font-d {
    color: var(--color-font-dark);
}