@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --color-primary: #befdea;
    --color-success: #2EB086;
    --color-danger: #B8405E;

    // --color-background-dark: #1f1f1f;
    --color-background-dark: #242635;
    
    --color-foreground-dark: #323548;

    --color-border-dark: #565857;

    // --color-primary-dark-1-rgb: 15, 23, 42;
    // --color-primary-dark-2-rgb: 24, 34, 52;
    // --color-primary-dark-1: #0f172a;
    // --color-primary-dark-2: #0c0c0d;
    // --color-primary-dark-3: #232529;
    
    // --color-primary-light-1: #383c40;

    --color-grey-light-1: #bec5ce;
    --color-grey-light-2: var(--color-primary-dark-2);

    --color-font-light: #cdd6df;
    --color-font-gray: #252535;
    --color-font-dark: #252535;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);


    --input-border: var(--color-grey-dark-1);
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--color-font-light);
}

hr {
    color: var(--color-border-dark);
}

.font-l {
    color: var(--color-font-light);
}

.font-d {
    color: var(--color-font-dark);
}