hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-image: linear-gradient(90deg, transparent, var(--color-primary-light-1), transparent);
    height: 1px;
    border: 0;
}

button {
    
}