@import 'base';

.success {
    background-color: var(--color-success);
    color: var(--color-font-dark);
}

.danger {
    background-color: var(--color-danger);
    color: var(--color-font-dark);
}

.error {
    color: var(--color-danger);
}