@import "layout";


.transaction {
    @include left-center-right();

    border: solid;
    border-width: 1px;
    border-color: #aaaaaa22;

    margin: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
        min-width: 3em;
        width: fit-content;
        height: fit-content;
        flex: 1;
        
    }    
}

.transaction:hover {
    border-color: #aaaaaa33;
}

$tag-radius: 32px;

.tag {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $tag-radius;
    height: $tag-radius;
    border-radius: $tag-radius;
    background-color: var(--color-grey-dark-2);
     i {
        transform: scale(0.8);
     }
}

.app-wrapper {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;

    @media only screen and (max-width: $bp-large) {
        display: block;
    }
}

.floating {
    display: block;
    position: absolute;
    top: 90%; right: 1em;
    @media only screen and (max-width: $bp-large) {
        position: relative;
    }
}
  