#__nuxt {
  position: absolute;
  inset: 0;
}

@mixin left-center-right {
  .item > * {
    text-align: start;
    flex: 1 2 50%;
  }

  .item:last-child {
    text-align: end;
    margin-left: auto;
    padding-left: 1em;
  }

  .item:nth-child(1) {
    text-align: start;
    margin-right: 0px;
    margin-left: 1em;
  }

  .item:first-child {
    margin-left: 0;
  }
}

.graph-card {
  height: 480px;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    height: 360px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.more-p {
  @media only screen and (max-width: $bp-small) {
    padding: 1em;
  }
}

@mixin box {
  box-shadow: var(--shadow-dark);
  border-radius: 0.3em;
}

.card {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-border-dark), 1);
  background-color: var(--bg-200);
  padding: 16px;
  box-sizing: border-box;
}

.space {
  margin-top: 1em;
}

.row-simple {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .3rem;

  .item {
    flex: 15 1 50%;
  }
  .item-shrink {
    flex: auto;
  }
}

.row {
  @include left-center-right();
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    .item {
      align-self: flex-start;
    }
  }

  .force {
    flex-direction: row;
  }
}

.row-to-column {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.column-to-row {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: row;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex: auto;

  * {
    flex: 1;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.grid {
  display: grid;
  grid: auto-flow dense / 1fr 1fr 1fr 1fr;
  // padding: 4px;

  @media only screen and (max-width: $bp-medium) {
    grid: auto-flow dense / 1fr 1fr 1fr;
  }

  @media only screen and (max-width: $bp-small) {
    grid: auto-flow dense / 1fr 1fr;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.collapsible-y {
  overflow: hidden;
  // transition:max-height 0.3s linear; // note that we're transitioning max-height, not height!
  height: auto;
  max-height: 600px; // still have to hard-code a value!
}

.collapsible-y.collapsed {
  // transition:max-height 0.3s linear; // note that we're transitioning max-height, not height!
  max-height: 0;
}
