:root {
    
    --primary-100:#2cbd83;
    --primary-200:#ff8586;
    --primary-300:#ffebe8;
    --accent-100:#2C3E50;
    --accent-200:#b4c7dd;
    
    --color-success: var(--primary-100);
    --color-danger: #9B1C31;

    --success-100: var(--color-success);
    --error-100: var(--color-danger);
    
    --color-primary: var(--primary-100);

    --input-border: var(--color-grey-dark-1);
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;

    // actual color tokens
    // --bg-100: #000000;
    // --bg-200:#141414;
    // --bg-300:#404040;
    // --bg-100: red;
    --text-over-primary: #ffffff;
    --text-over-danger: #ffffff;
}

body {
    transition: background-color .2s ease-in-out;
}

:root, html[data-theme="light"] {
    --bg-100: #f7f7f7;
    --bg-200: #f8fafc;
    --bg-300:#adadad;

    --border-100: #e2e8f0;

    --text-100: #212529;
    --text-200:#000000;
    --text-over-secondary: #ffffff;

    --shadow-100: #141414;

    --secondary-100: #292929;
    --secondary-100: #666666;

    input {
        color-scheme: light !important;
    }
}

html[data-theme="dark"] {
    --bg-100: #000000;
    --bg-200:#141414;
    --bg-300:#404040;

    --border-100: #363636;

    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --text-over-secondary: #e0e0e0;

    --shadow-100: #585858;

    // --secondary-100: #334155;

    input {
        color-scheme: dark !important;
    }
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--color-font-light);
}

hr {
    color: var(--color-border-dark);
    border-top: 0;
    margin-block: 8px
}

html[data-theme="dark"] {
    hr {
        color: var(--bg-300);
        border-top: 0;
    }   
}

.font-l {
    color: var(--color-font-light);
}

.font-d {
    color: var(--color-font-dark);
}

.text-success {
    color: var(--success-100)
}