@mixin input-mixin {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-border-dark);
    outline: 0;
    padding: 8px;
    color: var(--color-font-light);
}

input {
    @include input-mixin();

    &:focus {
        border: 1px solid white;
    }
}

textarea {
    @include input-mixin();
}

select {
    @include input-mixin();
}
