@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --color-primary: #befdea;
  --color-success: #2EB086;
  --color-danger: #B8405E;
  --color-background-dark: #242635;
  --color-foreground-dark: #323548;
  --color-border-dark: #9ea2a1;
  --color-grey-light-1: #bec5ce;
  --color-grey-light-2: var(--color-primary-dark-2);
  --color-font-light: #cdd6df;
  --color-font-gray: #252535;
  --color-font-dark: #252535;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
  --input-border: var(--color-grey-dark-1);
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--color-font-light);
}

hr {
  color: var(--color-border-dark);
}

.font-l {
  color: var(--color-font-light);
}

.font-d {
  color: var(--color-font-dark);
}

.app-wrapper {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  width: 65%;
}
@media only screen and (max-width: 56.25em) {
  .app-wrapper {
    min-width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .app-wrapper {
    min-width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .app-wrapper {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 8px;
}

.py {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.my {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ml {
  margin-left: 0.5em;
}

.mt {
  margin-top: 0.5em;
}

.mb {
  margin-bottom: 0.5em;
}

.mr {
  margin-right: 0.5em;
}

@media only screen and (max-width: 37.5em) {
  .container.more-p {
    padding: 1em;
  }
}

.card {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-border-dark), 1);
  background-color: var(--color-foreground-dark);
  padding: 16px;
}

.space {
  margin-top: 1em;
}

.row-simple {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-simple .item {
  flex: 15 1 50%;
}
.row-simple .item-shrink {
  flex: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .item > * {
  text-align: start;
  flex: 1 2 50%;
}
.row .item:last-child {
  text-align: end;
  margin-left: auto;
  padding-left: 1em;
}
.row .item:nth-child(1) {
  text-align: start;
  margin-right: 0px;
  margin-left: 1em;
}
.row .item:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 37.5em) {
  .row .item {
    align-self: flex-start;
  }
}
.row .force {
  flex-direction: row;
}

.row-to-column {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 56.25em) {
  .row-to-column {
    flex-direction: column;
  }
}

.column-to-row {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .column-to-row {
    flex-direction: row;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.columns * {
  flex: 1;
}
@media only screen and (max-width: 37.5em) {
  .columns {
    flex-direction: column;
  }
}

.grid {
  display: grid;
  grid: auto-flow dense/1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 56.25em) {
  .grid {
    grid: auto-flow dense/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .grid {
    grid: auto-flow dense/1fr 1fr;
  }
}

header {
  width: 100%;
  height: 5em;
  background-color: var(--color-background-dark);
}

.collapsible-y {
  overflow: hidden;
  height: auto;
  max-height: 600px;
}

.collapsible-y.collapsed {
  max-height: 0;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(90deg, transparent, var(--color-primary-light-1), transparent);
  height: 1px;
  border: 0;
}

input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-border-dark);
  outline: 0;
  padding: 8px;
  color: var(--color-font-light);
}
input:focus {
  border: 1px solid white;
}

textarea {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-border-dark);
  outline: 0;
  padding: 8px;
  color: var(--color-font-light);
}

select {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-border-dark);
  outline: 0;
  padding: 8px;
  color: var(--color-font-light);
}

.app-wrapper {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  width: 65%;
}
@media only screen and (max-width: 56.25em) {
  .app-wrapper {
    min-width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .app-wrapper {
    min-width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .app-wrapper {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 8px;
}

.py {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.my {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ml {
  margin-left: 0.5em;
}

.mt {
  margin-top: 0.5em;
}

.mb {
  margin-bottom: 0.5em;
}

.mr {
  margin-right: 0.5em;
}

@media only screen and (max-width: 37.5em) {
  .container.more-p {
    padding: 1em;
  }
}

.card {
  border-radius: 6px;
  border: 1px solid rgba(var(--color-border-dark), 1);
  background-color: var(--color-foreground-dark);
  padding: 16px;
}

.space {
  margin-top: 1em;
}

.row-simple {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-simple .item {
  flex: 15 1 50%;
}
.row-simple .item-shrink {
  flex: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .item > * {
  text-align: start;
  flex: 1 2 50%;
}
.row .item:last-child {
  text-align: end;
  margin-left: auto;
  padding-left: 1em;
}
.row .item:nth-child(1) {
  text-align: start;
  margin-right: 0px;
  margin-left: 1em;
}
.row .item:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 37.5em) {
  .row .item {
    align-self: flex-start;
  }
}
.row .force {
  flex-direction: row;
}

.row-to-column {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 56.25em) {
  .row-to-column {
    flex-direction: column;
  }
}

.column-to-row {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .column-to-row {
    flex-direction: row;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.columns * {
  flex: 1;
}
@media only screen and (max-width: 37.5em) {
  .columns {
    flex-direction: column;
  }
}

.grid {
  display: grid;
  grid: auto-flow dense/1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 56.25em) {
  .grid {
    grid: auto-flow dense/1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .grid {
    grid: auto-flow dense/1fr 1fr;
  }
}

header {
  width: 100%;
  height: 5em;
  background-color: var(--color-background-dark);
}

.collapsible-y {
  overflow: hidden;
  height: auto;
  max-height: 600px;
}

.collapsible-y.collapsed {
  max-height: 0;
}

.background {
  background-color: var(--color-foreground-dark);
  border-radius: 5px;
}

.transaction {
  background-color: var(--color-foreground-dark);
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 0);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.2em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.transaction .item > * {
  text-align: start;
  flex: 1 2 50%;
}
.transaction .item:last-child {
  text-align: end;
  margin-left: auto;
  padding-left: 1em;
}
.transaction .item:nth-child(1) {
  text-align: start;
  margin-right: 0px;
  margin-left: 1em;
}
.transaction .item:first-child {
  margin-left: 0;
}
.transaction .item:first-child {
  min-width: 4em;
  margin-right: 0.8em;
}

.transaction:hover {
  border-color: rgba(170, 170, 170, 0.2);
}

.tag {
  border-radius: 4px;
  padding: 0.3em 0.8em 0.3em 0.8em;
  background-color: var(--color-primary-dark-1);
}

.title {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-primary-light-1);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

/* CSS */
button, .button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-font-dark);
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 8px;
  text-align: center;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button i, .button i {
  color: var(--color-font-dark);
}
button:hover, .button:hover {
  filter: brightness(0.9);
}
button:active, .button:active {
  filter: opacity(0.5);
}
button.outlined, .button.outlined {
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--color-primary-light-1);
}

/* .slideOne */
.slideOne {
  --h: 1.5em;
  width: calc(2 * var(--h));
  height: var(--h);
  background: var(--color-primary-dark-3);
  position: relative;
  border-radius: calc(var(--h) / 2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px var(--color-background-dark);
}
.slideOne label {
  --gap: 5%;
  display: block;
  cursor: pointer;
  width: calc(var(--h) - 2 * var(--gap));
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--h) / 2);
  left: 5%;
  transform: translateY(-50%);
  background: var(--color-danger);
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.slideOne input[type=checkbox] {
  visibility: hidden;
}
.slideOne input[type=checkbox]:checked + label {
  left: calc(2 * var(--h) - (var(--h) - 10%) - 5%);
  background: var(--color-success);
}

/* end .slideOne */
.graph .row-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid;
  border-color: rgba(170, 170, 170, 0);
}
.graph .row-wrapper:hover {
  border-color: var(--color-primary-light-1);
}
.graph .row-wrapper * {
  flex: auto;
}
.graph .row-wrapper .label {
  padding: 3px;
  padding-right: 0.3em;
  margin-right: 5px;
  text-align: end;
  background-color: var(--color-primary-dark-2);
  border-radius: 1px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  max-width: 6em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.graph .bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  background-color: var(--color-primary-light);
  background: linear-gradient(to right, var(--color-primary-dark-2) 80%, var(--color-primary-dark-1));
}
.graph .carousel-circle {
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid red;
  border-color: var(--color-border-dark);
}
.graph .carousel-circle.selected {
  background-color: var(--color-font-light);
}

.toggle-bar {
  --h: 2.5em;
  height: var(--h);
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--color-border-dark);
  display: flex;
  border-radius: var(--h);
  padding-left: 3px;
  padding-right: 3px;
}
.toggle-bar .bar-item {
  cursor: pointer;
  text-transform: capitalize;
  display: grid;
  height: calc(var(--h) - 6px);
  width: calc(var(--h) * 3);
  border-radius: calc(0.9 * var(--h));
  align-self: center;
  justify-items: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  transition: background-color 0.3s;
}

.bar-item.active {
  background-color: #fff;
  color: #22272c;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
@media only screen and (max-width: 37.5em) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.numpad {
  display: grid;
  grid: auto-flow dense/1fr 1fr 1fr;
}
.numpad .button {
  height: 4em;
}

.mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}
.mosaic-loader > .cell {
  --cell-color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
  --cell-color: #d4aee0;
}
.mosaic-loader > .cell:nth-child(2) {
  --cell-color: #8975b4;
}
.mosaic-loader > .cell:nth-child(3) {
  --cell-color: #64518a;
}
.mosaic-loader > .cell:nth-child(4) {
  --cell-color: #565190;
}
.mosaic-loader > .cell:nth-child(5) {
  --cell-color: #44abac;
}
.mosaic-loader > .cell:nth-child(6) {
  --cell-color: #2ca7d8;
}
.mosaic-loader > .cell:nth-child(7) {
  --cell-color: #1482ce;
}
.mosaic-loader > .cell:nth-child(8) {
  --cell-color: #05597c;
}
.mosaic-loader > .cell:nth-child(9) {
  --cell-color: #b2dd57;
}
.mosaic-loader > .cell:nth-child(10) {
  --cell-color: #57c443;
}
.mosaic-loader > .cell:nth-child(11) {
  --cell-color: #05b853;
}
.mosaic-loader > .cell:nth-child(12) {
  --cell-color: #19962e;
}
.mosaic-loader > .cell:nth-child(13) {
  --cell-color: #fdc82e;
}
.mosaic-loader > .cell:nth-child(14) {
  --cell-color: #fd9c2e;
}
.mosaic-loader > .cell:nth-child(15) {
  --cell-color: #d5385a;
}
.mosaic-loader > .cell:nth-child(16) {
  --cell-color: #911750;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
.lds-ellipsis {
  display: block;
  position: relative;
  width: 75px;
  height: 20px;
}

.lds-ellipsis div {
  position: absolute;
  top: 30%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --color-primary: #befdea;
  --color-success: #2EB086;
  --color-danger: #B8405E;
  --color-background-dark: #242635;
  --color-foreground-dark: #323548;
  --color-border-dark: #9ea2a1;
  --color-grey-light-1: #bec5ce;
  --color-grey-light-2: var(--color-primary-dark-2);
  --color-font-light: #cdd6df;
  --color-font-gray: #252535;
  --color-font-dark: #252535;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
  --input-border: var(--color-grey-dark-1);
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--color-font-light);
}

hr {
  color: var(--color-border-dark);
}

.font-l {
  color: var(--color-font-light);
}

.font-d {
  color: var(--color-font-dark);
}

.success {
  background-color: var(--color-success);
  color: var(--color-font-dark);
}

.danger {
  background-color: var(--color-danger);
  color: var(--color-font-dark);
}

.error {
  color: var(--color-danger);
}/*# sourceMappingURL=main.css.map */