@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


h1 {
  font-weight: 300;
  font-size: xx-large;
}

h2 {
  font-weight: 400;
  font-size: large;
}

.font-sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  // font-size: 18px;
  font-style: normal;
}


body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  // font-size: 18px;
  font-style: normal;
}